*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  padding-top: 3rem;
  background-image: url(./assets/intro.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: background .5s;
}

.app.warm{
  background-image: url(./assets/warm.jpg);
}

.app.cold{
  background-image: url(./assets/cold.jpg);
}

.app main{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

